@model List<Kart>
@{
    ViewBag.Title = "Anasayfa";
   
}

<div style="text-align: center" class="jumbotron text-align-center px-2 py-4">
    <img class="banner" src="~/images/banner.png" alt="" />

    <h2 class="logo">Resmi seçin içeriginizi düzenleyin kartınız hazırlansın.</h2>
    <h1 style="font-size:96px" class="logo">2021</h1>
    <a href="/Kartlar/" class="btn btn-danger">Kart Oluştur</a>
</div>

<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-md-4">
        <div class="card text-center mb-3">
            <div class="card-header">
                <h5 class="card-title logo">@item.Baslik</h5>

            </div>
            
            
            <img width="250" src="@Url.Content($"~/images/{item.ResimAd}.png")" class="card-img-bottom" alt="...">
            <div class="card-body p-0">
                <div class="d-flex justify-content-center bg-warning">
                    <a target="_blank" class="mr-3 text-white" href="@Url.Content($"/kartlar/Indir/{item.Id}")"><i class="fas fa-download"></i></a>

                    <a target="_blank" class="text-white" href="@Url.Content($"/kartlar/Goruntule/{item.Id}")"><i class="fas fa-search"></i></a>
                </div>
                <div class="icon-box-green">
                    <a href="@Url.Content($"/kartlar/Duzenle/{item.Id}")"><i class="fas fa-pen-square"></i> Duzenle</a>
                </div>
                <div class="icon-box-red">
                    <a href="@Url.Content($"/kartlar/sil/{item.Id}")"><i class="fas fa-trash"></i> Sil</a>
                </div>
            </div>
        </div>
    </div>   
        
    }



</div>